* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7F7F7;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

main {
    max-width: 998px;
    margin: auto;
    display: flex;
}

/* !Header */
.navigation {
    max-width: 998px;
    height: 150px;
    margin: auto;
    background: #fff;
    display: flex;
    box-shadow: 4px 4px 31px rgba(0, 0, 0, 45%);
}

.logo img {
    width: 138px;
    height: 122px;
}

ul {
    display: flex;
    list-style: none;
    padding: 57px 76px 57px 126px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

ul>li>a {
    text-decoration: none;
    color: black;
}

ul>li:nth-child(1) {
    padding-right: 90px;
}

ul>li:nth-child(2) {
    padding-right: 60px;
}

.drop-down-title::after {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-top: 10px solid black;
    margin-top: 10px;
}

ul>li>a:hover {
    color: #D21B10;
}

.bag {
    margin: 43px 14px 58px 0px;
}

button {
    width: 195px;
    height: 51px;
    border-radius: 71px;
    border-color: #AC8809;
    border-style: solid;
    border-width: 3px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    margin: 50px 0;
}

button:hover {
    background-color: rgb(204, 114, 11);
}

.drop-down-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 271px;
    height: 270px;
    padding: 0;

    background: #575757;
    display: none;
}

.dws-menu:hover>ul {
    display: flex;
}

.drop-down-menu li {
    width: 100%;
    border-bottom: solid black 1px;
    padding: 0;
}

.drop-down-menu li:first-child,
.drop-down-menu li:nth-child(2) {
    padding: 0;
}

.drop-down-menu li:last-child {
    border: none;
}

.drop-down-menu li a {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
}

/* !Header */

/* ?main */
.authorization-menu {
    background: #fff;
    width: 998px;
    height: 497px;
    display: flex;
    flex-direction: column;
}

.authorization-menu h3 {
    margin-left: 128px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 45px;
}

.input-field {
    height: 60px;
    width: 550px;
    margin-left: 128px;
    margin-top: 45px;
}

.submit-button {
    width: 237px;
    height: 57px;
    border-color: #AC8809;
    border-radius: 71px;
    border-style: solid;
    background-color: #fff;
    margin-left: 128px;
    margin-top: 45px;
}

.submit-button:hover {
    background-color: rgb(204, 114, 11);
    cursor: pointer;
    transition: .4s;
}

/* ?main */

/* ^Footer */
footer {
    width: 100%;
    height: 117px;
    background-color: #232220;
}

.footer-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 237px;
}

.social>img {
    height: 46px;
    width: 46px;
}

.footer-description {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    width: 237px;
    text-align: left;
    height: 26px;
}

/* ^Footer */